<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入頁面</title>
</head>
<body>
<h2>標準登入頁面</h2>
<form class="form-signin" method="post" action="/authentication/form">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
    </p>
    <p>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </p>
    <p>
        <label for="imageCode" class="sr-only">ImageCode</label>
        <input type="text" id="imageCode" name="imageCode" class="form-control" placeholder="ImageCode" required="">
        <img src="/code/image?width=200"/>
    </p>
    <input type="checkbox" name="remember-me" value="true">Remember Me
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
</body>
</html>